<?xml version="1.0"?>
<launch>

	<!-- arg to config the launch file-->
	<!-- GPS default position of Robotnik at Fuente del Jarro-->

	<arg name="launch_rviz" default="true"/>
	<arg name="gazebo_world" default="$(find summit_xl_hl_gazebo)/worlds/summit_xl_office.world"/>
	<arg name="gazebo_gui" default="true"/>
	<arg name="omni_drive" default="false"/>
	<arg name="default_xacro" default="summit_xl_std.urdf.xacro"/>
	<arg if="$(arg omni_drive)" name="ros_planar_move_plugin" value="true"/>
	<arg unless="$(arg omni_drive)" name="ros_planar_move_plugin" default="true"/>
	<arg name="ros_planar_move_plugin_force_based" default="false"/>
	<arg name="launch_advanced_simulation" default="false"/> <!-- Just for internal use -->
	<arg name="use_gpu_for_simulation" default="$(optenv USE_GPU_FOR_SIMULATION true)"/>
	<arg name="launch_rosbridge" default="$(optenv LAUNCH_ROSBRIDGE false)" />
	<arg name="rosbridge_port" default="$(optenv ROSBRIDGE_PORT 9090)" />

	<!-- arguments robot a -->
	<arg name="id_robot_a" default="robot"/>
	<arg name="launch_robot_a" default="true"/>
	<arg name="xacro_robot_a" default="$(arg default_xacro)"/>
	<arg name="map_file_a" default="willow_garage/willow_garage.yaml"/>
	<arg name="gmapping_robot_a" default="false"/>
	<arg name="move_base_robot_a" default="true"/>
	<arg name="ekf_localization_robot_a" default="false"/>
	<arg name="amcl_and_mapserver_a" default="true"/>
	<arg name="launch_pad_a" default="false"/>
	<arg name="gps_latitude_robot_a" default="39.5080331"/>
	<arg name="gps_longitude_robot_a" default="-0.4619816"/>
	<arg name="has_pantilt_camera_a" default="true"/>
	<!-- arm robot a -->
    <arg name="launch_arm_a" default="false"/>
	<arg name="arm_manufacturer_a" default="trossen"/>
	<arg name="arm_model_a" default="ur5"/>
    <arg name="launch_moveit_a" default="false"/>


	<include file="$(find summit_xl_hl_gazebo)/launch/summit_xl_hl_gazebo.launch">
		<!-- general args -->
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
		<arg name="gazebo_world" value="$(arg gazebo_world)"/>
		<arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
		<arg name="omni_drive" value="$(arg omni_drive)"/>
		<arg name="default_xacro" value="$(arg default_xacro)"/>
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="ros_planar_move_plugin_force_based" value="$(arg ros_planar_move_plugin_force_based)" />
		<arg name="launch_advanced_simulation" value="$(arg launch_advanced_simulation)"/>
		<arg name="use_gpu_for_simulation" value="$(arg use_gpu_for_simulation)"/>
		<!-- robot_a args -->
		<arg name="id_robot_a" value="$(arg id_robot_a)"/>
		<arg name="launch_robot_a" value="$(arg launch_robot_a)"/>
		<arg name="xacro_robot_a" value="$(arg xacro_robot_a)"/>
		<arg name="map_file_a" value="$(arg map_file_a)"/>
		<arg name="gmapping_robot_a" value="$(arg gmapping_robot_a)"/>
		<arg name="move_base_robot_a" value="$(arg move_base_robot_a)"/>
		<arg name="ekf_localization_robot_a" value="$(arg ekf_localization_robot_a)"/>
		<arg name="amcl_and_mapserver_a" value="$(arg amcl_and_mapserver_a)"/>
		<arg name="launch_pad_a" value="$(arg launch_pad_a)"/>
		<arg name="gps_latitude_robot_a" value="$(arg gps_latitude_robot_a)"/>
		<arg name="gps_longitude_robot_a" value="$(arg gps_longitude_robot_a)"/>
		<arg name="has_pantilt_camera_a" value="$(arg has_pantilt_camera_a)"/>
		<!-- robot_a arm args -->
		<arg name="launch_arm_a" value="$(arg launch_arm_a)"/>
		<arg name="arm_manufacturer_a" value="$(arg arm_manufacturer_a)"/>
		<arg name="arm_model_a" value="$(arg arm_model_a)"/>
		<arg name="launch_moveit_a" value="$(arg launch_moveit_a)"/>

		<arg name="xacro_robot_path" default="package://summit_xl_hl_description/robots/summit_xl_hl_ur5.urdf.xacro"/>
	</include>
	<include if="$(arg launch_rosbridge)" file="$(find summit_xl_hl_bringup)/launch/rosbridge.launch">
		<arg name="port" value="$(arg rosbridge_port)"/>
		<arg name="id_robot" value="$(arg id_robot_a)"/>
	</include>

</launch>
