<launch>


  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default, we are not in simulation mode -->
  <arg name="sim" default="false" />
  
  <arg name="limited" default="false"/>

   <include file="$(find ur3e_moveit_config_realsense)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  

  <!-- Run the main MoveIt! -->
  <include file="$(find ur3e_moveit_config_realsense)/launch/moveit_planning_execution.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- Run Rviz -->
  <include file="$(find ur3e_moveit_config_realsense)/launch/moveit_rviz.launch" />

</launch>
