<launch>


  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  
  <arg name="limited" default="false"/>

  <!-- Run Rviz -->
  <include file="package://summit_xl_hl_ur5_description/launch/summit_xl_hl_ur5_rviz.launch" />

</launch>

